<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meadowlark Travel</title>
</head>
<body>
    <header>
        <img src="/img/killua.jpeg" alt="Meadowlark Travel Logo">
    </header>
    {{{body}}}
</body>
</html>